*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}
.list-item{
    display: flex;
    
}
.list-item li{
    list-style: none;
    padding: 15px;
    margin: auto;
    color: white;
    cursor: pointer;
    
}
.banner-section{
    background-image: url(./Assets/05-Restrurent.png)  ;
    background-size: cover;
  background-position: center;
    height: 600px;
}
.list-item li:hover {
    border: 1px solid red;
    border-radius: 15px;
}
.banner-header{
    color: white;
    text-align: center;
    flex-direction: column;
   font-size: 60px;
   display: flex;
   margin-top: 30px;
}

.banner-btn{
  padding: 10px 25px 10px 25px;
  background-color: rgba(43, 44, 46, 0.705);
  border: none;
  color: wheat;
  border-radius: 10px;
  
}
.banner-btn:hover{
    background-color: rgba(52, 152, 219, 0.5); 
}
/* Just the right food style */
.food-section{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: rgb(224, 231, 236);
}
.vegetable{
    background-image: url(./Assets/05-Restrurent\ \(4\).png);
       background-size: cover;
        background-position: center;
        height: 600px;
        display: flex;
        justify-content: end;
        align-items: center;
}
.vegetable-list{
    text-align: center;
    height: 70%;
    width: 400px;
    margin-right: 250px;
    align-items: center;
   background-color: rgba(22, 23, 26, 0.616);
   color: white;
}
.vegetable-logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.vegetable-header{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    color: aliceblue;
}